.AH_Nav {
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #0292B7;
    align-items: center;
    justify-content: space-between;
    .AH_Nav_Container {
        display: flex;
        position: relative;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin: 0 95px;
        .AH_Nav_Logo {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 50px;
            color: #0292B7;
            background-color: #FFF;
            &.active {
                color: #FFF;
                background-color: transparent;
            }
        }
        .AH_Nav_Menu_More {
            display: none;
            user-select: none;
        }
        .AH_Nav_Menu {
            display: flex;
            position: relative;
            align-items: center;
            height: auto;
            padding-bottom: 4px;
            height: 50px;
            .AH_Nav_Menu--item {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #FFF;
                /* background: -webkit-linear-gradient(#009BF8, #FFF);
                background-clip: text;
                -webkit-text-fill-color: transparent; */
                min-height: 40px;
                padding: 0 8px;
                background-color: transparent;
                text-decoration: none;
                cursor: pointer;
                font-size: 16px;
                font-family: "Gotham";
                &:hover {
                    text-decoration: underline;
                }
                &.active {
                    font-family: "Gotham Medium";
                }
            }
        }
    }
}

@media only screen and (max-width: 678px) {
    .AH_Nav_Container {
        margin: 0 75px !important;
    }
}

@media only screen and (max-width: 569px) {
    .AH_Nav {
        position: sticky !important;
        top: 0 !important;
        z-index: 100;
        .AH_Nav_Container {
            margin: 0 15px !important;
            .AH_Nav_Menu_More {
                display: block !important;
                cursor: pointer;
                color: #FFF !important;
                &.active + .AH_Nav_Menu {
                    height: 124px !important;
                }
            }
            .AH_Nav_Menu {
                display: block !important;
                position: absolute !important;
                left: 0 !important;
                right: 0 !important;
                top: 100% !important;
                height: 0 !important;
                margin: 0 -15px !important;
                background-color: #0292B7;
                transition: height 0.15s linear;
                overflow-y: hidden;
                z-index: 1;
                .CT-UI-Divider-Vertical {
                    display: none;
                }
            }
        }
    }
}
