.AH_Footer {
    display: block;
    width: 100%;
    height: auto;
    bottom: 0;
    .AH_Footer_Profile {
        /* padding: 48px 48px; */
        display: flex;
        width: 100%;
        background: linear-gradient(to bottom, #F2FAFF, #E6F5FE);
        .AH_Footer_Profile--logo {
            display: flex;
            position: relative;
            width: 33%;
            .AH_Footer_Profile--logo-noname {
                display: none;
            }
            img {
                display: block;
                margin: auto;
                width: 50%;
            }
        }
        .AH_Footer_Profile--information {
            display: flex;
            position: relative;
            width: 67%;
            margin: 50px 0;
            justify-content: space-evenly;
        }
        .AH_Footer_Profile--contact,
        .AH_Footer_Profile--link,
        .AH_Footer_Profile--area {
            display: block;
            position: relative;
            margin-left: 24px;
        }
        .AH_Footer_Profile--title {
            display: block;
            font-family: "Gotham Bold";
            font-size: 18px;
            margin-bottom: 8px;
        }
        .AH_Footer_Profile--item {
            display: flex;
            align-items: center;
            padding: 4px 0;
            &.item-area {
                cursor: pointer;
                color: black;
                text-decoration: none;
                &:hover > svg {
                    transition: transform 0.1s linear;
                    transform: translateY(-4px);
                }
            }
        }
        .AH_Footer_Profile--value {
            margin-left: 8px;
            font-family: "Gotham";
        }
        a.AH_Footer_Profile--value {
            margin-left: 0;
            text-decoration: none;
            color: black;
            &:hover {
                color: #80CDFC;
            }
        }
    }
    .AH_Footer_Copyright {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        padding: 24px 48px;
        color: white;
        background-color: #0292B7;
        .AH_Footer_Copyright--social {
            display: inline-flex;
            align-items: center;
            & > a {
                display: inline-flex;
                margin-left: 8px;
            }
        }
    }
}

@media only screen and (max-width: 1111px) {
    .AH_Footer_Profile--logo {
        width: 25% !important;
        img {
            width: 65% !important;
        }
    }
    .AH_Footer_Profile--information {
        width: 75% !important;
    }
}

@media only screen and (max-width: 937px) {
    .AH_Footer_Profile {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 833px) {
    .AH_Footer_Profile {
        display: block !important;
        .AH_Footer_Profile--contact,
        .AH_Footer_Profile--link,
        .AH_Footer_Profile--area {
            margin-left: 0 !important;
            margin-bottom: 20px !important;
        }
        .AH_Footer_Profile--logo {
            width: 100% !important;
            & > img {
                display: none !important;
            }
            .AH_Footer_Profile--logo-noname {
                display: flex !important;
                align-items: center !important;
                justify-content: center !important;
                img {
                    display: block !important;
                    width: 20% !important;
                    margin: 0 !important;
                }
                .AH_Footer_Profile--name {
                    font-size: 32px !important;
                    font-family: "Gotham Bold";
                    color: #53aadf;
                }
            }
        }
        .AH_Footer_Profile--information {
            width: 100% !important;
            margin: 0 !important;
        }
    }
    .AH_Footer_Copyright {
        display: block !important;
        margin: auto;
        .AH_Footer_Copyright--text {
            display: block !important;
            width: 100% !important;
            text-align: center !important;
        }
        .AH_Footer_Copyright--social {
            display: block !important;
            text-align: center !important;
            .CT-UI-Typography {
                display: block !important;
                margin: 8px 0px !important;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .AH_Footer_Profile {
        .AH_Footer_Profile--information {
            display: block !important;
            .AH_Footer_Profile--contact,
            .AH_Footer_Profile--link,
            .AH_Footer_Profile--area {
                display: block !important;
                text-align: center !important;
                margin-bottom: 0 !important;
                padding-bottom: 16px !important;
                .AH_Footer_Profile--item {
                    display: flex !important;
                    align-items: center !important;
                    justify-content: center !important;
                }
            }
        }
    }
}
